<div id="<%= dom_id(partner) %>" class="col col-md-4 mb-4">
  <div class="card mb-3 partner-card shadow-sm border-0 h-100">
    <% if partner.logo.attached? %>
      <div class="card-img-container">
        <% if policy(partner).show? %>
          <%= link_to partner_path(partner) do %>
            <%= image_tag rails_storage_proxy_url(partner.logo), class: 'partner-card-img' %>
          <% end %>
        <% else %>
          <%= image_tag rails_storage_proxy_url(partner.logo), class: 'partner-card-img' %>
        <% end %>
      </div>
    <% elsif partner.profile_image.attached? %>
      <div class="card-img-container">
        <% if policy(partner).show? %>
          <%= link_to partner_path(partner) do %>
            <%= image_tag rails_storage_proxy_url(partner.optimized_profile_image), class: 'partner-card-img' %>
          <% end %>
        <% else %>
          <%= image_tag rails_storage_proxy_url(partner.optimized_profile_image), class: 'partner-card-img' %>
        <% end %>
      </div>
    <% end %>

    <div class="card-body d-flex justify-content-around align-items-end">
      <h5 class="card-title text-center">
        <% if policy(partner).show? %>
          <%= link_to partner.name, partner_path(partner), class: "text-decoration-none" %>
        <% else %>
          <%= partner.name %>
        <% end %>
      </h5>
    </div>
  </div>
</div>
