
<% content_for :page_title do %>
  <%= t('globals.edit') %> <%= @resource.name %> | <%= resource_class.model_name.human.pluralize %>
<% end %>

<div class="container mt-3">
  <h1 class="mb-4"><%= t('.title') %></h1>

  <%= render "form", partner: @partner %>
</div>
