<div class="container my-3">
  <h2 class="fw-light text-center mb-4">На будь-якому етапі вашої подорожі ми можемо вас направити</h2>
  <div class="row row-cols-1 row-cols-md-3">
    <!-- Feature 1 -->
    <div class="col mb-3">
      <a href="<%= render_page_path('pre-arrival') %>" class="card journey-stage pre-arrival hover-effect mb-4 shadow-sm h-100 text-center">
        <div class="card-body">
          <h4 class="card-title">Перед приїздом</h4>
          <%= image_tag 'journey_stages/pre-arrival.svg', class: 'card-img-top mb-3', alt: 'Зображення перед приїздом' %>
          <button class="btn btn-info">Підготуйтеся до приїзду в Нідерланди</button>
        </div>
      </a>
    </div>
    <!-- Feature 2 -->
    <div class="col mb-3">
      <a href="<%= render_page_path('arrival') %>" class="card journey-stage arrival hover-effect mb-4 shadow-sm h-100 text-center">
        <div class="card-body">
          <h4 class="card-title">Приїзд</h4>
          <%= image_tag 'journey_stages/arrival.svg', class: 'card-img-top mb-3', alt: 'Зображення приїзду' %>
          <button class="btn btn-info">Ваші перші кроки в Нідерландах</button>
        </div>
      </a>
    </div>
    <!-- Feature 3 -->
    <div class="col mb-3">
      <a href="<%= render_page_path('settlement') %>" class="card journey-stage settlement hover-effect mb-4 shadow-sm h-100 text-center">
        <div class="card-body">
          <h4 class="card-title">Оселення</h4>
          <%= image_tag 'journey_stages/settlement.svg', class: 'card-img-top mb-3', alt: 'Зображення оселення' %>
          <button class="btn btn-info">Готові оселитися в Нідерландах</button>
        </div>
      </a>
    </div>
  </div>
</div>
